NODE_ENV=development
PORT=3002

# mongodb://USER:PASSWORD@HOST:PORT/DATABASE
MONGODB_URL=

# host:port auth-service gRPC
AUTH_GRPC_URL=localhost:50051

# comma-separated: localhost:9092,localhost:9093
KAFKA_BROKERS=localhost:9092